extends layout
block variables
  - var pageName = 'Main'
block content
  header.main__header: .container
    .row: .col.lg-8.off-lg-1
      h1 Любые виды 
        span грунтовых работ
    .main__header--intro
      .row
        .col.lg-4.off-lg-8
          .intro--text
            svg.icon: use(xlink:href="#slash_1")
            span Лорем ипсум долор сит амет, еирмод витуперата еу иус, иус фацилисис садипсцинг ан. Вих еррор аргументум.
      .intro--image: img(src="img/intro_img.png", alt="")
    a.link.top(href="")
      svg.icon.normal: use(xlink:href="#plus")
      svg.icon.hover: use(xlink:href="#double_right")
      span Бурение микроcвай
    a.link.left(href="")
      svg.icon.normal: use(xlink:href="#plus")
      svg.icon.hover: use(xlink:href="#double_right")
      span Бурение микроcвай
    a.link.center(href="")
      svg.icon.normal: use(xlink:href="#plus")
      svg.icon.hover: use(xlink:href="#double_right")
      span Бурение микроcвай
    a.link.right(href="")
      svg.icon.normal: use(xlink:href="#plus")
      svg.icon.hover: use(xlink:href="#double_right")
      span Бурение микроcвай
    a.link.bottom(href="")
      svg.icon.normal: use(xlink:href="#plus")
      svg.icon.hover: use(xlink:href="#double_right")
      span Бурение микроcвай
  section.main__services: .container
    h2 
      span.accent Наши  
      span услуги
      svg.icon: use(xlink:href="#slash_1")
    .row
      .col.sm-6.md-3: a.main__services--item(href="")
        span.thumb
          img(src="img/serv_1.jpg", alt="service image")
          span.overlay: svg.icon: use(xlink:href="#serv_1")
        span.title Сваи Буронабивные<br>Техника ZIL
      .col.sm-6.md-3: a.main__services--item(href="")
        span.thumb
          img(src="img/serv_2.jpg", alt="service image")
          span.overlay: svg.icon: use(xlink:href="#serv_2")
        span.title Артезианскае скважины
      .col.sm-6.md-3: a.main__services--item(href="")
        span.thumb
          img(src="img/serv_3.jpg", alt="service image")
          span.overlay: svg.icon: use(xlink:href="#serv_3")
        span.title Сваи Буронабивные<br>Техника bower
      .col.sm-6.md-3: a.main__services--item(href="")
        span.thumb
          img(src="img/serv_4.jpg", alt="service image")
          span.overlay: svg.icon: use(xlink:href="#serv_4")
        span.title МикроСваи<br>и Анкера
  section.main__about
    video(autoplay='', loop='', poster='video/about_video.jpg', muted='').main__about--video
      source(src='video/about_video.mp4', type='video/mp4')
      source(src="video/about_video.webm", type="video/webm")
    .container
      svg.icon.main__about--start: use(xlink:href="#slash_2")
      .row
        .col.md-5.off-md-1.sm-6
          h2 <span class="accent">О</span> Компании
            svg.icon: use(xlink:href="#slash_3")
          p Мы одна из ведущих и динамично развивающихся строительных компаний. Мы работаем на рынке строительных услуг более 20 лет. Основным направлением деятельности нашей компании является предоставление <a href="">буровых услуг</a>.
        .col.sm-6.main__about--brand: img(src="img/brand_square.png", alt="Forateco logo")
      svg.icon.main__about--stops: use(xlink:href="#slash_2")
  section.main__clients: .container
    h2 <span class="accent">Наши</span> доверяют
      svg.icon: use(xlink:href="#slash_1")
    .owl-carousel.clients: - for(i=1;i<=6;i++)
      .clients__item: a(href=""): img(src="img/client_1.jpg", alt="client logo")
      .clients__item: a(href=""): img(src="img/client_2.png", alt="client logo")
      .clients__item: a(href=""): img(src="img/client_3.jpg", alt="client logo")
      .clients__item: a(href=""): img(src="img/client_4.jpg", alt="client logo")
