extends layout
block variables
  - var pageName = 'Services'
block content
  header.services__header
    .container
      svg.icon.services__header--icon: use(xlink:href="#serv_1")
      h1
        svg.icon: use(xlink:href="#slash_3")
        span Сваи Буронабивные<br>Техника bower
  section.services__about: .container
    .row
      .col.md-8.sm-7.lg-7.off-lg-1: .services__about--text
        p Специалистами  «FORATECO» успешно применяется технология устройства буронабивных свай диаметром до 1200 мм и глубиной до 30 метров в различных грунтах, в том числе в увлажненных грунтах.
        p Возведение фундаментов с применением буронабивных свай позволяет вести строительство в местах большого сосредоточения вертикальных и горизонтальных грунтовых нагрузок со сложными инженерно-геологическими условиями, а также в условиях плотной городской застройки, в близи существующих зданий и сооружений в которых могут возникнуть деформации при применении обычных набивных свай.
        p Буронабивные сваи выполняются путем бурения скважины под защитой инвенторных обсадных труб, что исключает осыпание стенок и деформацию грунтов. Изготавливается арматурный каркас, который мастируется в пробуренную скважину и укладывается бетон.
        p На буронабивных сваях SRL «FORATECO» в Кишиневе построены METRO Cash&Carry 1, жилой комплекс «Валя Трандафирилор», жил. комплекс по ул. Мирча чел Бэтрын множество коммерческих, офисных помещений и жилых домов.
      .col.md-4.sm-5: img.services__about--image(src="img/service_about.png", alt="")

  section.services__descrition: .container
    h2 <span class="accent">Буронабивные</span> сваи
      svg.icon: use(xlink:href="#slash_1")
    .row: .col.md-10.off-md-1: .services__descrition--text
      p Это один из способов организации фундамента строящегося здания. Такого рода сваи применимы для строительства зданий любого назначения, будь то сооружения жилого, общественного или производственного типа.
      p Основанием для железобетонной буронабивной сваи являются гравийно-галечниковые отложения, пески и горные породы различных типов. Данный вид сваи можно использовать практических на всех грунтах, за исключением крупнообломочных и скальных.
      p.text--center \
      p Динамическая нагрузка является одной из наиболее важных и серьезных проблем, с которыми приходится сталкиваться при строительстве зданий на фундаментах из сваи железобетонной при условиях уплотненных городских застроек. Технология установки железобетонной буронабивной сваи представляет разумное решение данной проблемы. Такие сваи железобетонные являются лучшим вариантом для возведения строительных сооружений в местах со сложными геологическими условиями, а также при больших горизонтальных и вертикальных нагрузках.
    .services__descrition--gallery: -for(i=1;i<=12;i++)
      a.gallery__item(href="http://placeimg.com/960/540/tech/"+i, title="Заготовок ФОТО "+i)
        img(src="http://placeimg.com/320/180/tech/"+i, alt="")
        span.overlay: svg.icon: use(xlink:href="#zoom")
  section.main__services: .container
    h2 <span class="accent">другие</span> услуги
      svg.icon: use(xlink:href="#slash_1")
    .row
      .col.sm-6.md-3: a.main__services--item(href="")
        span.thumb
          img(src="img/serv_1.jpg", alt="service image")
          span.overlay: svg.icon: use(xlink:href="#serv_1")
        span.title Сваи Буронабивные<br>Техника ZIL
      .col.sm-6.md-3: a.main__services--item(href="")
        span.thumb
          img(src="img/serv_2.jpg", alt="service image")
          span.overlay: svg.icon: use(xlink:href="#serv_2")
        span.title Артезианскае скважины
      .col.sm-6.md-3: a.main__services--item(href="")
        span.thumb
          img(src="img/serv_4.jpg", alt="service image")
          span.overlay: svg.icon: use(xlink:href="#serv_4")
        span.title МикроСваи<br>и Анкера
